@media (max-width: 768px) {
  .main-container {
    height: auto;
    min-height: 100vh;
    grid-template-columns: 1fr;
  }
    body {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    padding: 20px;
  }
  .icon-box {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .right-side {
    padding: 20px;
  }
}


@media (max-width: 480px) {
  .background-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .background-box img {
    width: 300px;
    transform: translate(40px, 40px) scaleX(-1);
    opacity: 0.3;
  }
}

@media (max-width: 768px) {
  .about-me {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .profile-pic img {
    width: 100px;
    height: 100px;
  }
}
