*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/back.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.main-container {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  height: 90vh;
  border: 2px rgba(0, 49, 122, 0.548) solid;
  backdrop-filter: blur(2.5px);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  }
  .main-container:hover {
  transform: scale(1.02); /* small zoom effect */
  transition: transform 0.5s ease-in-out;
}
  .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: rgba(228, 244, 245, 0.438);
  
  }
    .profile-pic{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
      .profile-pic img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        align-items: center;
        object-fit: cover;
        display: block;
        }
    h1{
      font-size: 25px;
      margin-bottom: 10px;
      text-align: center;
    }
    span {
      display: flex;
      flex-direction: column; 
      align-items: center;
      gap: 5px;
      padding: 3px;
      
      }
      .skill {
        color: rgb(98, 121, 255);
        font-weight: 600;
      }
      .country {
        margin-bottom: 30px;
      }
    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      height: 300px;
      padding: 10px;
      font-size: 16px;
      }
      .list div {
  transition: all 0.3s ease;
}

      .home, .about, .services, .skills, .education, .experience, .work, .blog, .contact {
        color: rgb(0, 0, 0);
        cursor: pointer;
      }
        .home:hover, .about:hover, .services:hover, .skills:hover, .education:hover, .experience:hover, .work:hover, .blog:hover, .contact:hover {
          color: rgb(84, 106, 218);
          background-color: rgba(194, 202, 250, 0.445);
          border-radius: 5px;
          padding: 5px
        }
    .toggle {
      border: 1px rgb(160, 160, 160) solid;
      padding: 7px 15px;
      border-radius: 15px;
      background-color: rgba(228, 244, 245, 0.438);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      margin-bottom: 20px;
      cursor: pointer;
    }
      .toggle img {
        height: 15px;
      }
      .toggle:hover {
         color: rgb(255, 255, 255);
          background-color: rgba(0, 0, 0, 0.445);
      }
      .writeup p {
        text-align: center;
      }
    .icon-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 150px;
      margin-top: 30px;
      target: _blank;
    }
      .icon-box img{
        height: 20px;
      }
